:host {
  display:  block;
  color: #efe9f3;
}

.portrait {
  width: 737px;
  height: 502px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1.petite-celine {
  position: absolute;
  left: 108px;
  top: 126px;
  width: 323px;
  height: 171px;
  font-weight: 400;
  line-height: 84px;
}
