<div class="row">
  <div class="col-xs-offset-1 col-md-3 album">
    <h2 class="carrois-gothic young-soldier">young soldier</h2>
    <img src="../../assets/cover art.png" alt="">
  </div>

  <div class="col-xs-offset-1 col-md-2 tracks">
    <h2 class="carrois-gothic tracks-title">tracks</h2>
    <ul class="cardo tracklist">
      <li class="track track01">.01<span class="track-padding"></span>Words</li>
      <li class="track track02">.02<span class="track-padding"></span>One More Shot</li>
      <li class="track track03">.03<span class="track-padding"></span>Reason & Rhyme</li>
      <li class="track track04">.04<span class="track-padding"></span>Demain</li>
      <li class="track track05">.05<span class="track-padding"></span>After All</li>
      <li class="track track06">.06<span class="track-padding"></span>Quicksand</li>
      <li class="track track07">.07<span class="track-padding"></span>The Fall</li>
      <li class="track track08">.08<span class="track-padding"></span>Young Soldier</li>
    </ul>
  </div>

  <div class="col-xs-offset-1 col-md-3">
    <h2 class="carrois-gothic videos">videos</h2>
    <ul class="cardo videos">
      <li class="one-more-shot-video">.01 One More Shot</li>
    </ul>
  </div>
</div>
